{% load static %}
{% block extrastyle %}

    <link href="{% static 'aDataTables/datatables.min.css' %}" rel="stylesheet" />
    <!-- link rel='stylesheet' href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" -->
    <link rel='stylesheet' href="{% static 'DataTables/DataTables-1.10.24/css/dataTables.bootstrap4.min.css' %}">
    <link rel='stylesheet' href="{% static 'DataTables/DataTables-1.10.24/css/buttons.bootstrap.min.css' %}">

{% endblock extrastyle %}







<table id="datatable_permissions">
</table>



<script language="javascript">


</script>












    <script type="text/javascript" src="{% static 'DataTables/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.yadcf.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/jQuery-3.3.1/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <!-- script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script -->
    <script src="{% static 'DataTables/DataTables-1.10.24/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'DataTables/DataTables-1.10.24/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'DataTables/DataTables-1.10.24/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'DataTables/DataTables-1.10.24/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'DataTables/DataTables-1.10.24/js/buttons.bootstrap.min.js' %}"></script>






