<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://js.stripe.com/v3/"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="GravviSoft - Lead Generation Platform">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Webpage Title -->
    <title>GravviSoft - Lead Generation Platform</title>


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->


    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Webpage Title -->
    <title>GravviSoft Landing Page Template</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'homebase/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'homebase/css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'homebase/css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'homebase/css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'homebase/css/styles.css' %}" rel="stylesheet">

	<!-- Favicon  -->
	<link rel="icon" href="{% static 'homebase/images/gravvisoft-favicon.png' %}">





</head>
<body data-spy="scroll" data-target=".fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">AVID</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image-lg" href="{% url 'home' %}"><img src="{% static 'homebase/images/Original.svg' %}" height="50" width="260"></a>



            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pricing' %}">Pricing</a>
                    </li>



                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="{% url 'login' %}">Log In</a>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->







    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->










  <div class="small-middle-container">


    <div class="row" id="pricing_opt">
                <div class="col-xl-10 offset-xl-1">
                    <h1>FAQ</h1><br><br>

                    <h3 class="mb-3">Is Ringless Voicemail illegal in the US?</h3>

                    <p class="mb-5">Currently, there aren’t any laws in the United States that say anything about Ringless Voicemail Drops not being legal. Fortunately, ringless voicemail is legal in all states thanks to rulings by the FCC and terms outlined in the Telephone Consumer Protection Act (TCPA). Ringless voicemail remains a legal form of outreach.

                    </p>



                    <h3 class="mb-3">Abiding by FCC Rules</h3>

                    <p class="mb-5">Paying strict attention to certain guidelines to make sure campaigns stays completely legal is vitally important.

                        The first thing we pay attention to is the <a href="https://www.donotcall.gov/">Do Not Call Registry</a>. Paying strict attention to this list eliminates any contacts that you aren’t supposed to be contacted.</p>

                  <h3 class="mb-3">Opting Out</h3>

                    <p class="mb-5">Having very clear Opt Out policies which allow people the choice whether or not they want to be contacted is vital.  This is very important for many reasons legally speaking.</p>

                <h3 class="mb-3">Staying Legal with FCC Rules: DNC Lists</h3>

                    <p class="mb-5">Ringless Voicemail Drops are definitely subject to rules. We pay strict attention to certain guidelines to make sure our campaigns stays completely legal.


                <!--                <small class="p-lg">GravviSoft uses state of the art web scraping technology to collect B2B leads from all over the web. and qualify those leads with our built-in real-time verification.   GravviSoft provides valid lead lists on a weekly basis to our users, but the real power of Gravvisoft is our automated campaigns.   Instead of just providing leads, GravviSoft's automated Voicemail Drop Campaigns and Email integration can contact leads for you every week.  At Gravvisoft, our passion is helping others increase their results by tapping into the power of automation!!</small>-->

                </div> <!-- end of col -->
            </div> <!-- end of row -->






  <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-col first">
                        <h6>About GravviSoft</h6>
                        <p class="p-sm">GravviSoft is a lead generation tool packed with features designed to help you increase your sales exponentially.</p>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col second">
                        <h6>Links</h6>
                        <ul class="list-unstyled li-space-lg p-sm">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="{% url 'home' %}">Homepage</a></li>
                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col third">
                        <h6>Menu</h6>
                        <ul class="list-unstyled li-space-lg p-sm">
                            <li><a href="{% url 'home' %}">Features</a></li>
                            <li><a href="{% url 'pricing' %}">Pricing</a></li>
                            <li><a href="{% url 'login' %}">Sign In</a></li>

                        </ul>
                    </div> <!-- end of footer-col -->
                    <div class="footer-col fourth">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <p class="p-sm">We would love to hear from you <a href="mailto:rizza@gravvisoft.com"><strong>rizza@gravvisoft.com</strong></a></p>
                    </div> <!-- end of footer-col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->




    <!-- Scripts -->
    <script src="{% static 'homebase/js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'homebase/js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'homebase/js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'homebase/js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'homebase/js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'homebase/js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'homebase/js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>









